@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&family=Righteous&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Waterfall&display=swap");
/* $button-color: #4c8ffb; */
/* $button-color: hsl(204, 100%, 52%); */
/* $button-color: hsl(0, 0%, 17%); */
/* $button-color-alt: hsl(0, 0%, 21%); */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: "Urbanist", sans-serif;
  font-size: 0.938rem;
}

body {
  margin: 0 0 4rem 0;
  background-color: #fcfcfc;
  color: #595959;
  /*For animation dark mode*/
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

h1,
h2,
h3,
h4 {
  color: #454545;
  font-weight: 700;
  letter-spacing: 0.4px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p,
span,
button {
  letter-spacing: 0.5px;
}

p {
  line-height: 1.5rem;
  font-size: 17px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.nav__container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 1rem;
}

.main {
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.section {
  padding: 1rem 0 0;
}

.section__title {
  font-weight: 700;
}

.button {
  padding: 0.75rem 1.15rem;
  background-color: #f16232;
  border: 1px #e64f34 solid;
  color: #fff;
  font-weight: 700;
  font-size: 0.875rem;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background-color: #e64f34;
}

.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /*For animation dark mode*/
  /* transition: 0.4s; */
}

.nav {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__callBtn {
  color: #454545;
}

.nav__callBtn {
  padding: 0.5rem;
  background: #1988d2;
  border-radius: 3px;
}

.nav-color {
  color: #262626;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__close {
  color: #454545;
}

.nav__logo,
.footer__logo {
  font-weight: 700;
  letter-spacing: 1px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
          column-gap: 0.25rem;
  font-size: 0.8rem;
}

.nav__logo-icon,
.footer__logo-icon {
  font-size: 1.5rem;
}

.nav__logo h1 {
  margin-right: 3rem;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #454545;
  font-weight: 300;
  font-family: 'Waterfall', cursive;
}

.nav__logo span {
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 0.025rem;
  font-family: 'Outfit', sans-serif;
}

.nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #fcfcfc;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 5rem 2rem 1.5rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
            box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgray;
}

.nav__link {
  color: #454545;
  font-weight: 700;
  /* text-transform: uppercase; */
  font-size: 20px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.nav__link:hover {
  color: #f16232;
}

.nav__link-small,
.nav__link-socials {
  color: #8c8c8c;
}

.nav__link-small {
  font-size: 0.75rem;
}

/* 
.nav__link-socials {
  font-size: var($larger-font-size);
} */
.nav__item-info {
  margin-bottom: -0.75rem;
}

.last-link {
  border-bottom: 1px solid lightgray;
  padding: 0 0 1rem;
  width: 100%;
}

.nav__close {
  font-size: 1.75rem;
  position: absolute;
  top: 0.9rem;
  right: 1.25rem;
  cursor: pointer;
}

.open-menu {
  right: 0;
}

.change-header {
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
          box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__btn {
  background-color: #f16232;
  color: #fff;
  font-weight: 700;
  font-size: 0.875rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

.contact__btn a {
  color: #fff;
}

.work__btn a {
  color: #f16232;
}

.work__btn-large {
  font-size: 16px;
}

.active-link {
  color: #1988d2;
}

.header__logo {
  height: 40px;
}

.home {
  padding-bottom: 3rem;
  background-color: #f3f3f1;
}

.home__container {
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home__container p {
  font-weight: 500;
}

.home__container .home__description {
  color: #454545;
  max-width: 750px;
  margin-bottom: 2.7rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4rem;
}

.home__subtitle {
  color: #595959;
}

.home__title {
  margin-top: 1rem;
  font-size: 34px;
}

.home__title .circle-sketch-highlight {
  position: relative;
}

.home__title .circle-sketch-highlight:before {
  content: '';
  left: -0.5em;
  top: -0.02em;
  border-width: 2px;
  border-style: solid;
  border-color: #f16232;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}

.home__title .circle-sketch-highlight:after {
  content: '';
  left: -0.5em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: #f16232;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}

.home__partners {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.5rem;
}

.home__partners p {
  font-size: 0.813rem;
  font-weight: 700;
}

.home__partners div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__partners div .home__partner {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__buttons .home__btn,
.home__buttons .work__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.home__buttons .work__btn {
  margin-top: 1rem;
}

.work__btn {
  background: none;
  color: #f16232;
  font-weight: 500;
}

.work__btn:hover {
  text-decoration: underline;
  color: #e64f34;
}

.image__grid-container {
  margin-top: 4rem;
}

.image__grid-container img {
  width: 100%;
  padding: 0 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/0.75;
}

.image__grid-container img:nth-child(2) {
  display: none;
}

.image__grid-container img:nth-child(3) {
  display: none;
}

.testimonials {
  margin-bottom: 2rem;
}

.testimonial__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.testimonial__icon {
  font-size: 2.75rem;
  color: #454545;
}

.testimonial__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}

.testimonial__name {
  font-size: 1rem;
  font-weight: 500;
  color: #454545;
}

.testimonial__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__link a,
.testimonial__link i {
  color: #f16232;
}

.testimonial__profile-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-content: center; */
  row-gap: 0.5rem;
}

.testimonial-swiper {
  margin-left: initial;
  margin-right: initial;
}

.benefits__section {
  background-color: #f3f3f1;
  margin-top: 4rem;
  padding-top: 3rem;
}

.benefits__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.benefits__group div {
  max-width: 300px;
}

.benefits__title {
  max-width: 700px;
}

.benefits__description {
  margin-top: 2rem;
  margin-bottom: 2.25rem;
}

.benefit__title {
  margin-bottom: 0.5rem;
}

.benefit__title span {
  color: #f16232;
}

.benefits__item {
  margin-bottom: 1.5rem;
}

.benefits__img {
  margin-bottom: 1rem;
}

.tm {
  margin-top: -4rem;
  background-color: #f3f3f1;
  padding-bottom: 5rem;
}

.tm__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tm__img {
  width: 1000px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: -2rem auto;
}

.tm__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tm__card {
  z-index: 50;
  background-color: #fff;
  display: inline-block;
  max-width: 350px;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 35px 35px 0 rgba(100, 100, 100, 0.12);
          box-shadow: 0 35px 35px 0 rgba(100, 100, 100, 0.12);
  text-align: center;
}

.tm__card img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.tm__card .tm__text {
  margin-bottom: 2rem;
}

.tm__quote {
  color: #595959;
  margin-bottom: 1rem;
}

.tm__link {
  color: #f16232;
  font-weight: 700;
}

.tm__name {
  color: #595959;
}

.tm__name,
.tm__link {
  font-size: 12px;
}

.tm__name span {
  color: #f16232;
  font-weight: 700;
}

.tm__card-1 {
  margin-bottom: 5rem;
  display: none;
}

.tm__card-2 {
  margin-top: 5rem;
}

.discover {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.discover__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.discover__title {
  margin-bottom: 2rem;
  max-width: 750px;
}

.discover__info {
  margin-bottom: 2rem;
}

.discover__headshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin-bottom: 2rem;
}

.discover__headshots img:nth-child(4),
.discover__headshots img:nth-child(5) {
  display: none;
}

.discover__img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.discover__description {
  margin-bottom: 2rem;
}

.discover__text span {
  font-weight: 700;
}

.connect__container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 1rem;
}

.connect__container div {
  margin-bottom: 1rem;
}

.connect__container button {
  font-weight: 500;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.connect__container button:hover {
  background: #f8f8f8;
}

.projects {
  margin-top: 5rem;
}

.projects-swiper {
  padding-bottom: 5rem;
  padding-top: 3rem;
}

.projects__title {
  text-align: center;
}

.projects__data {
  text-align: center;
}

.projects__description {
  margin: 0 auto;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

.swiper-button-next,
.swiper-button-prev {
  top: 5%;
  bottom: initial;
  left: initial;
  right: 10%;
  width: initial;
  height: initial;
  background-color: #f3f3f1;
  -webkit-box-shadow: 0 4px 12px rgba(51, 51, 51, 0.1);
          box-shadow: 0 4px 12px rgba(51, 51, 51, 0.1);
  padding: 0.25rem;
  font-size: 1.5rem;
  color: #f16232;
}

.swiper-button-next {
  left: initial;
  right: 4rem;
}

.swiper-btns {
  display: none;
}

.projects__title {
  margin-bottom: 1rem;
}

.projects__card {
  width: 80%;
  -webkit-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.1);
  padding: 2rem 1.25rem;
  border-radius: 3px;
  position: relative;
  height: 450px;
  cursor: -webkit-grab;
  cursor: grab;
}

.project__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 450px;
  border-radius: 3px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.project__data {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  padding-right: 0.5rem;
}

.project__data span {
  color: #f16232;
}

.project__card-2 img {
  -o-object-position: 30% 30%;
     object-position: 30% 30%;
}

.projects__description {
  max-width: 375px;
}

.project__title {
  margin-bottom: 0.75rem;
  font-size: 32px;
  color: #fff;
}

.project__info {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
  color: #d6d6d6;
}

.project__details {
  color: #fff;
  font-size: 16px;
}

.services {
  background: #f3f3f1;
  margin: 2.5rem 0 0;
  padding-bottom: 1.5rem;
  padding-top: 3.5rem;
}

.services__info {
  margin-bottom: 2.25rem;
}

.service__item {
  margin-bottom: 3rem;
}

.service__item li {
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.service__item i {
  font-size: 24px;
  color: #f16232;
}

.steps {
  padding-top: 3rem;
}

.steps__info {
  margin-bottom: 4rem;
}

.steps__info h2 {
  margin-bottom: 1rem;
}

.steps__info p {
  margin-bottom: 2rem;
}

.steps__info button {
  display: none;
}

.step__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f3f3f1;
  margin-bottom: 3rem;
  padding: 2rem;
}

.step__item h3 {
  margin: 0.5rem 0 1rem;
}

.step__item .step__content {
  color: #595959;
}

.step__item a {
  margin-top: 3rem;
  font-weight: 500;
  max-width: 80%;
  color: #f16232;
  padding-bottom: 0.25rem;
}

.step__item a:hover {
  color: #e64f34;
  text-decoration: underline;
}

.step__number {
  color: #f16232;
  font-weight: 900;
  font-size: 16px;
}

.who__container {
  margin-top: 5rem;
  margin-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.who__container h2 {
  margin-bottom: 1rem;
  max-width: 450px;
}

.who__container p {
  font-size: 14px;
}

.who__container p a {
  font-size: 14px;
  color: #f16232;
}

.who-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 2rem;
  max-width: 600px;
}

.who-group li {
  background: #f3f3f1;
  padding: 0.75rem 1rem;
  margin: 0.25rem 0.25rem;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.025rem;
}

@media screen and (min-width: 767px) {
  .steps {
    height: 1500px;
    padding-top: 8rem;
  }
  .steps__container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 1150px;
  }
  .steps__group {
    max-width: 40%;
  }
  .steps__info {
    max-width: 40%;
    position: sticky;
    position: -webkit-sticky;
    display: block;
    top: 12rem;
    margin-right: 5rem;
  }
  .steps__info button {
    display: block;
  }
  .our__work {
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 915px) {
  .steps {
    height: 1400px;
  }
}

@media screen and (min-width: 1000px) {
  .steps {
    height: 1450px;
  }
}

@media screen and (min-width: 1200px) {
  .steps {
    height: 1350px;
  }
}

.our__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our__work-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.our__work-info h2 {
  margin-bottom: 1rem;
}

.our__work-info p {
  max-width: 80%;
}

.our__work-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our__work-images img {
  height: auto;
  width: auto;
}

.how {
  background: #f3f3f1;
}

.how__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.how__title {
  margin: 2rem 0 1.5rem;
}

.how__images img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.how__images img:nth-child(2),
.how__images img:nth-child(3) {
  display: none;
}

.how__item {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid lightgray;
}

.how__item h3 {
  margin: 0.25rem 0 0.5rem;
}

.how__item h4 {
  color: #f16232;
}

.how__item p {
  color: #595959;
}

.how__item:nth-child(4) {
  border-bottom: none;
}

.testimonial__section {
  margin-bottom: 3rem;
}

.footer__cta {
  margin: 3rem 0;
}

.footer__cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__cta-container h1 {
  font-size: 36px;
  margin-bottom: 1rem;
}

.footer__cta-container p {
  margin-bottom: 2rem;
  max-width: 750px;
}

footer {
  border-top: 1px solid lightgray;
}

.footer__logo,
.footer__logo-icon {
  color: #454545;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__company {
  margin-bottom: 3rem;
}

@media screen and (min-width: 576px) {
  .home {
    margin-bottom: 0;
  }
  .home__container {
    height: 70vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home__title {
    font-size: 34px;
  }
  p {
    font-size: 16px;
    font-weight: 500;
  }
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .nav__menu {
    width: 60%;
  }
  .contact__btn {
    width: 230px;
    left: unset;
    right: 1.5rem;
    bottom: 1.5rem;
    border-radius: 2px;
    padding: 0.7rem 0;
  }
  .contact__btn:hover {
    background: #e64f34;
  }
  .home__partners {
    margin: 0 1.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .home__partners p {
    text-align: center;
  }
  .image__grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .image__grid-container img {
    padding: 0;
    max-width: 50%;
  }
  .image__grid-container img:nth-child(2) {
    display: block;
  }
  .image__grid-container img:nth-child(3) {
    display: block;
  }
  .testimonials {
    margin-top: 3rem;
  }
  .benefits__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .benefits__img {
    margin-top: 2rem;
    max-height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    display: none;
  }
  .benefits__subtitle {
    max-width: 450px;
  }
  .projects-swiper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .projects__description {
    max-width: 525px;
  }
  .services__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  .services__group .service__item {
    width: 40%;
  }
  .discover__description {
    max-width: 525px;
  }
  .discover__headshots img:nth-child(4) {
    display: initial;
  }
  .our__work-images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4rem;
  }
  .our__work-images img {
    max-width: 45%;
  }
}

@media screen and (min-width: 678px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .home__title {
    font-size: 40px;
  }
  .home__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home__buttons .work__btn {
    margin-top: 0;
    margin-left: 1.5rem;
  }
  h2 {
    font-size: 26px;
  }
  .home__container .home__description {
    font-size: 20px;
    line-height: 2rem;
    max-width: 850px;
  }
  .discover__headshots img:nth-child(5) {
    display: initial;
  }
}

@media screen and (min-width: 767px) {
  .nav {
    height: calc($header-height + 1rem);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav__logo {
    font-size: 1.25rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    margin-left: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /* flex-grow: 1; */
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    padding-bottom: 0;
    border-bottom: none;
    /* width: 100%; */
  }
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    color: #595959;
  }
  .nav__menu {
    width: 100%;
  }
  .last-link {
    border: none;
  }
  .home {
    height: 85vh;
  }
  .home__container {
    height: 70vh;
  }
  .home__partners {
    max-width: 650px;
    margin: 0 auto;
  }
  .home__partners p {
    min-width: 200px;
  }
  .benefits__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .benefits__img {
    margin-left: 1rem;
  }
  .tm__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    padding-top: 5rem;
  }
  .tm__card-1 {
    display: inline-block;
  }
  .tm__img-container {
    margin-top: -8rem;
  }
  .projects__description {
    max-width: 650px;
  }
  .services__group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 0rem;
            column-gap: 0rem;
  }
  .services__group .service__item {
    width: 30%;
  }
  .services__subtitle {
    max-width: 650px;
  }
  .discover__headshots img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75rem;
    color: #454545;
  }
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__container {
    height: 90vh;
  }
  .home__info {
    text-align: center;
  }
  .home__title {
    margin: 0.75rem auto 1.5rem;
    max-width: 800px;
    font-size: 52px;
  }
  .home__description {
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    max-width: 950px;
    margin: 0 auto;
  }
  .contact__btn {
    position: initial;
  }
  .home__partners {
    max-width: 800px;
  }
  .image__grid-container img {
    padding: 0;
    max-width: 33%;
  }
  .image__grid-container img:nth-child(1) {
    display: block;
  }
  .benefits__description {
    margin-bottom: 4rem;
  }
  .benefits__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
  .projects-swiper {
    padding-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .project__data {
    left: 2rem;
  }
  .swiper-btns {
    display: initial;
  }
  .projects-swiper {
    max-width: 1100px;
    overflow: visible;
  }
  .discover__description {
    max-width: 725px;
  }
  .how__container {
    padding-top: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    width: 100%;
  }
  .how__info {
    width: 45%;
  }
  .how__images {
    width: 55%;
  }
  .how__images img {
    height: 500px;
  }
  .who {
    margin-bottom: 8rem;
  }
  .who__container h2 {
    max-width: 700px;
  }
  .who__container .who-group {
    max-width: 800px;
  }
  .who__container li {
    font-size: 18px;
    margin: 0.35rem;
  }
  .who__container p {
    font-size: 16px;
  }
  .who__container p a {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
  .projects-swiper {
    max-width: 1220px;
  }
  .our__work-images img {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 30%;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
  .benefits__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefits__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .benefits__info {
    width: 1300px;
  }
  .projects-swiper {
    max-width: 1340px;
  }
}

@media screen and (max-width: 412px) {
  .home__buttons a {
    font-size: 14px;
  }
  .home__buttons {
    font-size: 14px;
  }
}

@media screen and (max-width: 370px) {
  .home__buttons a {
    font-size: 10px;
  }
  .home__buttons .work__btn a {
    font-size: 13px;
  }
}
/*# sourceMappingURL=styles.css.map */