//  Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
//  Variables

// :root {
$header-height: 3.5rem;

//  Colors
// $first-color: hsl(204, 100%, 68%);
// $first-color: rgb(253, 167, 55);
// $first-color: rgb(245, 159, 79);
$first-color: rgb(245, 104, 79);
$first-color-alt: rgb(230, 79, 52);
$first-color-bg: rgb(255, 246, 245);

// $first-color: rgb(245, 118, 79);

/* $button-color: #4c8ffb; */
/* $button-color: hsl(204, 100%, 52%); */
$button-color: hsl(204, 79%, 46%);
$button-color-alt: hsl(204, 100%, 34%);
/* $button-color: hsl(0, 0%, 17%); */
/* $button-color-alt: hsl(0, 0%, 21%); */
$nav-color: hsl(0, 0%, 15%);
$home-title-color: hsl(0, 0%, 100%);
$home-text-color: hsl(0, 0%, 83%);
// $title-color: hsl(0, 0%, 15%);
$title-color: hsl(0, 0%, 27%);

$text-color: hsl(0, 0%, 35%);
$text-color-light: hsl(0, 0%, 55%);
$body-color: hsl(0, 0%, 99%);
$container-color: #fff;
$border-color: hsl(0, 0%, 94%);

//  Font and Typography

$body-font: 'Urbanist', sans-serif;
$large-font-size: 1.75rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

//  Font Weight

$font-medium: 500;
$font-bold: 700;

//  Margins

$mg-0-5: 0.5rem;
$mg-0-75: 0.75rem;
$mg-1: 1rem;
$mg-1-5: 1.5rem;
$mg-2: 2rem;
$mg-2-5: 2.5rem;
$mg-3: 3rem;

//  Z-Index

$z-tooltip: 10;
$z-fixed: 100;
// }

@media screen and (min-width: 968px) {
  // :root {
  $large-font-size: 2.5rem;
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
  $smaller-font-size: 0.813rem;
  // }
}

//  Base Styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: $body-font;
  font-size: $normal-font-size;
}

body {
  margin: 0 0 4rem 0;
  background-color: $body-color;
  color: $text-color;
  /*For animation dark mode*/
  transition: 0.4s;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
  font-weight: $font-bold;
  letter-spacing: 0.4px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p,
span,
button {
  letter-spacing: 0.5px;
}

p {
  line-height: 1.5rem;
  font-size: 17px;
  // font-family: 'Outfit', sans-serif;
  // font-weight: 100;
  // font-weight: $font-medium;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

//  Utilities
.container {
  max-width: 1024px;
  margin-left: $mg-1-5;
  margin-right: $mg-1-5;
}

.nav__container {
  // max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.title {
  margin-top: $mg-0-5;
  margin-bottom: $mg-1;
}

.subtitle {
  margin-bottom: $mg-1;
}

.main {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  padding: 1rem 0 0;
}

.section__title {
  font-weight: $font-bold;
}

.button {
  padding: 0.75rem 1.15rem;
  background-color: $first-color;
  border: 1px rgb(230, 79, 52) solid;
  color: #fff;
  font-weight: $font-bold;
  font-size: 0.875rem;
  border-radius: 2px;
  text-transform: uppercase;
  transition: 0.3s;
}

.button:hover {
  background-color: $first-color-alt;
}

//  Header / Nav ---------------------------------------------

.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  /*For animation dark mode*/
  /* transition: 0.4s; */
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // margin: 0 2rem;
}

.nav__logo,
.nav__toggle,
.nav__callBtn {
  color: $title-color;
}

.nav__callBtn {
  padding: 0.5rem;
  background: $button-color;
  border-radius: 3px;
}
.nav-color {
  color: $nav-color;
  transition: 0.3s;
}

.nav__close {
  color: $title-color;
}

.nav__logo,
.footer__logo {
  // text-transform: uppercase;
  font-weight: $font-bold;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-size: 0.8rem;
}

.nav__logo-icon,
.footer__logo-icon {
  font-size: 1.5rem;
}

.nav__logo h1 {
  margin-right: 3rem;
  font-size: 20px;
  display: flex;
  align-items: baseline;
  // column-gap: 0.3rem;

  font-family: $body-font;

  // color: $first-color;
  // font-weight: 900;
  color: $title-color;
  font-weight: 300;
  font-family: 'Outfit', sans-serif;
  // font-family: 'Sora', sans-serif;
  // font-family: 'Lexend Deca', sans-serif;
  // font-family: 'Red Hat Text', sans-serif;
  // font-family: 'Space Grotesk', sans-serif;
  // font-family: 'Spartan', sans-serif;
  // font-family: 'Dosis', san-serif;
  // font-family: 'Baloo 2', cursive;
  // font-family: 'Fredoka One', cursive;
  // font-family: 'Lilita One', cursive;
}

.nav__logo span {
  color: $first-color;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 0.025rem;
}
// .nav__logo span {
//   font-size: 24px;
// }

// .nav__logo span:nth-child(2) {
//   // margin-left: 0.225rem;
//   // margin-right: 0.05rem;
// }

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: $body-color;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 5rem 2rem 1.5rem;
    transition: 0.5s;
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgray;
}

.nav__link {
  color: $title-color;
  font-weight: $font-bold;
  /* text-transform: uppercase; */
  font-size: 20px;
  transition: 0.1s;
  // margin-bottom: 5rem;
}

.nav__link:hover {
  color: $first-color;
}

.nav__link-small,
.nav__link-socials {
  color: $text-color-light;
}

.nav__link-small {
  font-size: $smaller-font-size;
}
/* 
.nav__link-socials {
  font-size: var($larger-font-size);
} */

.nav__item-info {
  margin-bottom: -0.75rem;
}

.last-link {
  border-bottom: 1px solid lightgray;
  padding: 0 0 1rem;
  width: 100%;
}

.nav__close {
  font-size: 1.75rem;
  position: absolute;
  top: 0.9rem;
  right: 1.25rem;
  cursor: pointer;
}

.open-menu {
  right: 0;
}

.change-header {
  background-color: $body-color;
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
  transition: 0.3s;
}

.contact__btn {
  background-color: $first-color;
  color: #fff;
  font-weight: $font-bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: 0.3s;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

.contact__btn a {
  color: #fff;
}
.work__btn a {
  color: $first-color;
}

.work__btn-large {
  font-size: 16px;
}

.active-link {
  color: $button-color;
}

.header__logo {
  height: 40px;
}

//  Home ------------------------------------------------

.home {
  // margin-bottom: 3rem;
}
.home__container {
  // height: 70vh;
  height: 520px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  justify-content: flex-end;
  align-items: center; // centered
  text-align: center; // centered
  p {
    font-weight: $font-medium;
  }

  .home__description {
    color: $title-color;
    max-width: 750px;
    margin-bottom: 2.7rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4rem;
  }
}
.home__subtitle {
  // margin-top: 5rem;
  color: $text-color;
}
.home__title {
  margin-top: 1rem;
  // max-width: 450px;
  font-size: 34px;
  // font-size: 30px;
  // margin-bottom: 10rem;

  span {
    color: $first-color;
    // font-size: 36px;
  }
}

.home__info {
  // max-width: 90%;
}

.home__partners {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;

  p {
    font-size: $small-font-size;
    font-weight: $font-bold;
  }
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .home__partner {
      font-size: 3rem;
      display: flex;
      justify-content: center;
    }
  }
}

.home__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: max-content;

  .home__btn,
  .work__btn {
    width: max-content;
  }
  .work__btn {
    margin-top: 2rem;
  }
}
.work__btn {
  background: none;
  color: $first-color;
  // border-bottom: 2px solid $first-color;
  font-weight: 500;
  // margin-top: 2rem;
}

.work__btn:hover {
  text-decoration: underline;
  color: $first-color-alt;
}

// .home__btn {
//   // border: 1px rgb(243, 92, 66) solid;
//   border: 1px rgb(245, 76, 47) solid;
// }

//  Image Grid ---------------------------------------------

.image__grid-container {
  img {
    width: 100%;
    padding: 0 1.5rem;
    object-fit: cover;
    aspect-ratio: 1/0.75;
    display: none;
  }
  img:nth-child(2) {
    display: none;
  }
  img:nth-child(3) {
    display: none;
  }
}

//  Testimonials ---------------------------------------------

.testimonials {
  // background-color: rgb(243, 243, 243);
  // padding: 0 2rem;
  margin-bottom: 2rem;
  // background-color: aqua;
}

.testimonial__card {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
.testimonial__icon {
  font-size: 2.75rem;
  color: $title-color;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.testimonial__name {
  font-size: $h3-font-size;
  font-weight: $font-medium;
  color: $title-color;
}

.testimonial__link {
  display: flex;
  align-items: center;
}

.testimonial__link a,
.testimonial__link i {
  color: $first-color;
}

.testimonial__profile-data {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  row-gap: 0.5rem;
}

.testimonial-swiper {
  margin-left: initial;
  margin-right: initial;
}

//  Benefits ---------------------------------------------

.benefits__section {
  background-color: #f3f3f1;
  margin-top: 4rem;
  padding-top: 3rem;
}
.benefits__group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  div {
    max-width: 300px;
  }
}

.benefits__title {
  max-width: 700px;
}
.benefits__description {
  margin-top: 2rem;
  margin-bottom: 2.25rem;
}

.benefit__title {
  margin-bottom: 0.5rem;
  span {
    color: $first-color;
  }
}

.benefits__item {
  margin-bottom: 1.5rem;
}

.benefits__img {
  margin-bottom: 1rem;
}

// .benefits-swiper {
//   // padding: 0 1.5rem;
//   margin: 0 1.5rem;
// }

// .benefits__card {
//   width: 100%;
//   // min-width: 250px;
//   // padding: 0 1.5rem;
// }

// .swiper-wrapper {
//   margin-bottom: $mg-1-5;
// }

// .swiper-scrollbar {
//   margin-right: 2rem;
//   // margin: 0 auto;
//   // padding: 0 1.5rem;
// }

// .steps__card img {
//   object-fit: cover;
//   height: 175px;
//   width: 100%;
// }

// .steps__data {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
//   margin-bottom: var(--mb-2);
// }

// .steps__description {
//   max-width: 375px;
// }

// .benefit__info {
//   margin-bottom: var(--mb-1-5);
// }

// .benefit__title {
//   margin-bottom: 0.25rem;
// }

// .steps__title {
//   font-weight: var(--font-bold);
// }

//  Testimonial Cards ---------------------------------------------
.tm {
  margin-top: -4rem;
  background-color: #f3f3f1;
  padding-bottom: 5rem;
}
.tm__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tm__img {
  width: 1000px;
  max-height: 500px;
  object-fit: cover;

  margin: -2rem auto;
}
.tm__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // column-gap: 8rem;
}
.tm__card {
  img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
  z-index: 50;
  background-color: #fff;
  display: inline-block;
  // height: 450px;
  max-width: 350px;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  // box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
  box-shadow: 0 35px 35px 0 rgba(100, 100, 100, 0.12);
  text-align: center;

  .tm__text {
    margin-bottom: 2rem;
  }
}
.tm__quote {
  color: $text-color;
  margin-bottom: 1rem;
}
.tm__link {
  color: $first-color;
  font-weight: $font-bold;
}
.tm__name {
  color: $text-color;
}
.tm__name,
.tm__link {
  font-size: 12px;
}
.tm__name span {
  color: $title-color;
  font-weight: $font-bold;
  // font-size: 12px;
}
.tm__card-1 {
  // display: none;
  // background-color: aqua;
  margin-bottom: 5rem;
  display: none;
}
.tm__card-2 {
  margin-top: 5rem;
}

// .grid-gallery {
//   column-gap: 0.7%;
//   display: grid;
//   grid-template-columns: 16.42% 12.35% 12.35% 12.5% 12.5% 12.35% 8.28% 8.28%; /*230px 173px 173px 175px 175px 173px 116px 116px*/
//   grid-template-rows: 1fr 0.07fr 0.12fr 0.44fr 0.638fr;
//   grid-gap: 10px;
//   grid-column-gap: 0.7%;
//   left: 50%;
//   margin: 100px -50vw 0;
//   position: relative;
//   right: 50%;
//   width: 100vw;
// }

// .grid-gallery img {
//   border-radius: 4px;
//   height: auto;
//   width: 100%;
// }

// .grid-gallery img:nth-of-type(1) {
//   grid-column: 1 / span 2;
//   grid-row: 1 / span 3;
// }

// .grid-gallery img:nth-of-type(2) {
//   grid-column: 1;
//   grid-row: 4 / span 2;
// }

// .grid-gallery img:nth-of-type(3) {
//   grid-column: 2;
//   grid-row: 4 / span 2;
// }

// .grid-gallery img:nth-of-type(4) {
//   align-self: end;
//   grid-column: 3;
//   grid-row: 1 / span 5;
// }

// .grid-gallery img:nth-of-type(5) {
//   grid-column: 4 / span 2;
//   grid-row: 1 / span 2;
// }

// .grid-gallery img:nth-of-type(6) {
//   grid-column: 4;
//   grid-row: 3 / span 2;
// }

// .grid-gallery img:nth-of-type(7) {
//   grid-column: 5;
//   grid-row: 3 / span 2;
// }

// .grid-gallery img:nth-of-type(8) {
//   grid-column: 4 / span 2;
//   grid-row: 5;
// }

// .grid-gallery img:nth-of-type(9) {
//   align-self: center;
//   grid-column: 6;
//   grid-row: 1 / span 5;
// }

// .grid-gallery img:nth-of-type(10) {
//   align-self: end;
//   grid-column: 7;
//   grid-row: 1;
// }

// .grid-gallery img:nth-of-type(11) {
//   align-self: end;
//   grid-column: 8;
//   grid-row: 1;
// }

// .grid-gallery img:nth-of-type(12) {
//   grid-column: 7 / span 2;
//   grid-row: 2 / span 4;
// }

//  Discover ---------------------------------------------
.discover {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.discover__container {
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.discover__title {
  margin-bottom: 2rem;
  max-width: 750px;
}

.discover__info {
  margin-bottom: 2rem;
}

.discover__headshots {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  margin-bottom: 2rem;
  img:nth-child(4),
  img:nth-child(5) {
    display: none;
  }
}

.discover__img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.discover__description {
  margin-bottom: 2rem;
}
.discover__text span {
  font-weight: $font-bold;
}
//  Connect With Us ---------------------------------------------

.connect__container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 1rem;
  // display: flex;
  div {
    margin-bottom: 1rem;
  }
  button {
    font-weight: $font-medium;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid lightgray;
    border-radius: 3px;
  }
  button:hover {
    background: rgb(248, 248, 248);
  }
}

//  Our Work ---------------------------------------------

.projects {
  margin-top: 5rem;
  // margin-bottom: var(--mb-3);
  // padding-bottom: 5rem;
  // background-color: $first-color-bg;
  // background-color: #f3f3f1;
}
.projects-swiper {
  padding-bottom: 5rem;
  padding-top: 3rem;
}
.projects__title {
  text-align: center;
}
.projects__data {
  // margin: 0 auto;
  text-align: center;
}
.projects__description {
  margin: 0 auto;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}
.swiper-button-next,
.swiper-button-prev {
  top: 5%;
  bottom: initial;
  left: initial;
  right: 10%;
  width: initial;
  height: initial;
  background-color: #f3f3f1;
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, 0.1);
  padding: 0.25rem;
  font-size: 1.5rem;
  // color: var(--first-color);
  color: $first-color;
}

.swiper-button-next {
  left: initial;
  right: 4rem;
}

.swiper-btns {
  display: none;
}

.projects__title {
  margin-bottom: $mg-1;
  // text-align: left;
}

.projects__card {
  width: 80%;
  // max-width: 400px;
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.1);
  padding: 2rem 1.25rem;
  border-radius: 3px;

  // New stuff
  position: relative;
  height: 450px;
  cursor: grab;
}

.project__image {
  position: absolute;
  top: 0;
  left: 0;
  // width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 450px;
  border-radius: 3px;
  // overflow: hidden;
  // z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.project__data {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  padding-right: 0.5rem;
  // z-index: 50;
  span {
    color: $first-color;
  }
}

.project__card-2 img {
  object-position: 30% 30%;
}

.projects__description {
  max-width: 375px;
}

.project__title {
  margin-bottom: 0.75rem;
  // font-size: $h1-font-size;
  font-size: 32px;
  color: #fff;
}
.project__info {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
  color: rgb(214, 214, 214);
}

.project__details {
  color: #fff;
  font-size: 16px;
  // max-width: 550px;
}

// .projects__card img {
//   margin-bottom: -10rem;
//   width: auto;

//   margin-top: 2.5rem;
//   object-fit: cover;
//   // height: 175px;
//   height: auto;
//   max-height: 325px;
//   object-position: top;
//   box-shadow: 0 35px 35px 0 rgba(100, 100, 100, 0.205);
//   border-radius: 3px;
// }

// .project__card-1 {
//   // background-color: rgb(164, 199, 185);
//   background-color: rgba(164, 199, 185, 0.411);
//   // rgb(245, 104, 79);
//   .project__title {
//     // color: rgb(26, 80, 57);
//     // color: rgb(255, 255, 255);
//   }
//   .project__info {
//     // color: rgba(26, 80, 57, 0.534);
//     // color: rgb(214, 214, 214);
//   }
// }

// .project__card-2 {
//   // background-color: rgb(182, 228, 255);
//   background-color: rgba(182, 228, 255, 0.329);
//   .project__title {
//     // color: rgb(10, 78, 117);
//   }
//   .project__info {
//     // color: rgba(10, 78, 117, 0.589);
//   }
// }
// .project__card-3 {
//   background-color: rgba(226, 219, 204, 0.527);
//   // background-color: rgb(226, 219, 204);
//   .project__title {
//     // color: rgb(58, 52, 40);
//   }
//   .project__info {
//     // color: rgba(58, 52, 40, 0.603);
//   }
// }

//  Services ---------------------------------------------

.services {
  background: #f3f3f1;
  // background: $first-color-bg;
  margin: 2.5rem 0 0;
  padding-bottom: 1.5rem;
  padding-top: 3.5rem;
}

.services__info {
  margin-bottom: 2.25rem;
}

.service__item {
  margin-bottom: 3rem;
  li {
    font-weight: $font-medium;
    margin-bottom: 0.4rem;
  }
  i {
    font-size: 24px;
    color: $first-color;
  }
}
// Steps ------------------------------------------------------------
.steps {
  padding-top: 3rem;
}

.steps__info {
  h2 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
  button {
    display: none;
  }
  margin-bottom: 4rem;
}
.step__item {
  position: relative;
  height: 376px;
  background: #f3f3f1;
  margin-bottom: 3rem;
  padding: 2rem;

  h3 {
    margin: 0.5rem 0 1rem;
  }
  .step__content {
    color: $text-color;
  }
  a {
    font-weight: 500;
    position: absolute;
    bottom: 2rem;
    max-width: 80%;
    color: $first-color;
    padding-bottom: 0.25rem;
  }
}

.step__item a:hover {
  color: $first-color-alt;
  text-decoration: underline;
}

.step__number {
  color: $first-color;
  font-weight: 900;
  // font-size: 28px;
  font-size: 16px;
}

.steps__description {
  // font-weight: 500;
  // color: $text-color;
}

.who__container {
  margin-top: 5rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // width: 60%;
  // max-width: 500px;
  h2 {
    margin-bottom: 1rem;
    max-width: 450px;
  }
  p {
    font-size: 14px;
  }
  p a {
    font-size: 14px;
    color: $first-color;
  }
}
.who-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  max-width: 600px;

  li {
    background: #f3f3f1;
    padding: 0.75rem 1rem;
    margin: 0.25rem 0.25rem;
    font-size: 12px;
    // text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.025rem;
    // margin-right: 0.25rem;
  }
}

// .steps__who-item::after {
//   content: '|';
//   margin: 0 0.5rem;
// }

@media screen and (min-width: 767px) {
  .steps {
    height: 1250px;
    padding-top: 3rem;
  }
  .steps__container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 1100px;
  }

  .steps__group {
    max-width: 40%;
  }
  .steps__info {
    max-width: 40%;
    position: sticky;
    top: 12rem;
    margin-right: 5rem;
    button {
      display: block;
    }
  }
}

// .steps {
//   height: 1600px;
//   padding-top: 8rem;
// }
// .steps__container {

//   position: absolute;
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-start;
//   height: 1200px;

// }

// .steps__group {
//   max-width: 40%;
// }

// .steps__info {
//   h2 {
//     margin-bottom: 1rem;
//   }
//   p {
//     margin-bottom: 1rem;
//   }
//   max-width: 40%;

//   position: sticky;
//   top: 12rem;
//   margin-right: 5rem;
// }

// .step__item {
//   position: relative;
//   height: 300px;
//   background: #f3f3f1;
//   margin-bottom: 3rem;
//   padding: 2rem;

//   h3 {
//     margin: 0.5rem 0 1rem;
//   }
//   a {
//     position: absolute;
//     bottom: 2rem;
//     max-width: 80%;
//     color: $first-color;
//     padding-bottom: 0.25rem;
//   }
// }

// How it works ----------------------------------------------------

.how {
  background: #f3f3f1;
  // padding-bottom: 2rem;
}

.how__container {
  display: flex;
  flex-direction: column-reverse;
}

.how__title {
  margin: 2rem 0 1.5rem;
}

.how__images img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.how__images img:nth-child(2),
.how__images img:nth-child(3) {
  display: none;
}

.how__item {
  h3 {
    margin: 0.25rem 0 0.5rem;
  }
  h4 {
    color: $first-color;
  }
  p {
    color: $text-color;
  }
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid lightgray;
}

.how__item:nth-child(4) {
  border-bottom: none;
}

.testimonial__section {
  margin-bottom: $mg-3;
}

//  Footer ---------------------------------------------

footer {
  border-top: 1px solid lightgray;
}

.footer__logo,
.footer__logo-icon {
  color: $title-color;
}

.footer__logo {
  margin-bottom: $mg-1;
}

.footer__company {
  margin-bottom: $mg-3;
}

@media screen and (min-width: 576px) {
  .home {
    // height: 80vh;
    margin-bottom: 0;
  }
  .home__container {
    height: 70vh;
    justify-content: center;
  }
  .home__title {
    font-size: 34px;
  }

  p {
    font-size: 16px;
    font-weight: $font-medium;
    // max-width: 500px;
  }

  .container {
    margin-left: $mg-1-5;
    margin-right: $mg-1-5;
  }

  .nav__menu {
    width: 60%;
  }

  .contact__btn {
    width: 230px;
    left: unset;
    right: 1.5rem;
    bottom: 1.5rem;
    border-radius: 2px;
    padding: 0.7rem 0;
  }
  .contact__btn:hover {
    background: $first-color-alt;
  }

  .home__partners {
    margin: 0 1.5rem;
    flex-direction: row;
    p {
      text-align: center;
      // flex: 1;
    }
  }

  .image__grid-container {
    display: flex;
    column-gap: 10px;
    img {
      padding: 0;
      max-width: 50%;
    }

    img:nth-child(2) {
      display: block;
    }
    img:nth-child(3) {
      display: block;
    }
  }

  .testimonials {
    margin-top: 3rem;
  }
  .benefits__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .benefits__img {
    margin-top: 2rem;
    max-height: 250px;
    object-fit: cover;
    display: none;
  }

  .benefits__subtitle {
    max-width: 450px;
  }
  .projects-swiper {
    // max-width: 950px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .projects__description {
    max-width: 525px;
  }

  .services__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 5rem;
    // margin-right: 3rem;
    .service__item {
      width: 40%;
    }
    // flex: auto;
    // flex-basis: auto;
    // margin-right: 5rem;
    // column-gap: 5rem;
  }
  .discover__description {
    max-width: 525px;
  }

  .discover__headshots {
    img:nth-child(4) {
      display: initial;
    }
  }
}

@media screen and (min-width: 678px) {
  .container {
    margin-left: $mg-2;
    margin-right: $mg-2;
  }
  .home__title {
    // max-width: 600px;
    font-size: 40px;
  }
  .home__buttons {
    flex-direction: row;
    justify-content: center;
    .work__btn {
      margin-top: 0;
      margin-left: 1.5rem;
    }
  }
  h2 {
    font-size: 26px;
  }

  .home__container {
    .home__description {
      // color: $text-color;
      // font-weight: 400;
      font-size: 20px;
      line-height: 2rem;
      max-width: 850px;
    }
  }
  .discover__headshots {
    img:nth-child(5) {
      display: initial;
    }
  }
}

@media screen and (min-width: 767px) {
  .nav {
    height: calc($header-height + 1rem);
    justify-content: flex-start;
    // column-gap: 3rem;
  }

  .nav__logo {
    font-size: 1.25rem;
    // min-width: 288px;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    // width: 100%;
    margin-left: 2rem;
    flex-direction: row;
    /* flex-grow: 1; */
    justify-content: flex-start;
    align-items: center;
    column-gap: 3rem;
    padding-bottom: 0;
    border-bottom: none;
    /* width: 100%; */
  }
  .nav__link {
    font-weight: $font-medium;
    font-size: 14px;
    color: $text-color;
    // min-width: 100px;
    // background-color: black;
  }

  .nav__menu {
    width: 100%;
  }
  .last-link {
    border: none;
  }
  .home {
    height: 85vh;
  }
  .home__container {
    height: 70vh;
    // margin-bottom: 4rem;
  }
  .home__partners {
    p {
      min-width: 200px;
    }
    max-width: 650px;
    margin: 0 auto;
  }

  .benefits__container {
    flex-direction: row-reverse;
    align-items: flex-start;
    // justify-content: space-between;
  }

  .benefits__item {
    // max-width: 500px;
  }

  .benefits__img {
    // display: block;
    margin-left: 1rem;
    // max-width: 100px;
    // max-height: 500px;
    // height: 500px;
  }
  .tm__container {
    flex-direction: row;
    column-gap: 5rem;
    padding-top: 5rem;
  }
  .tm__card-1 {
    display: inline-block;
  }
  .tm__img-container {
    margin-top: -8rem;
  }
  .projects__description {
    max-width: 650px;
  }
  .services__group {
    // width: 100%;
    // display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    column-gap: 0rem;
    // row-gap: 5rem;
    // flex-direction: row;
    .service__item {
      width: 30%;
    }
  }

  .services__subtitle {
    max-width: 650px;
  }

  .discover__headshots {
    img {
      width: 100px;
      height: 100px;
    }
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75rem;
    color: $title-color;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-end;
    // height: 85vh;
  }
  .home__container {
    height: 90vh;
  }

  .home__info {
    text-align: center;
  }
  .home__title {
    margin: 0.75rem auto 1.5rem;
    max-width: 800px;
    font-size: 52px;
  }

  .home__description {
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: 950px;
    margin: 0 auto;
  }
  .contact__btn {
    position: initial;
  }

  .home__partners {
    max-width: 800px;
  }

  .image__grid-container {
    img {
      padding: 0;
      max-width: 33%;
    }

    img:nth-child(1) {
      display: block;
    }
  }

  .benefits__description {
    margin-bottom: 4rem;
  }
  .benefits__group {
    display: flex;
    justify-content: flex-start;
    column-gap: 6rem;
    .benefit__subtitle {
      // max-width: 200px;
    }
  }
  .projects-swiper {
    // max-width: 950px;
    padding-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .projects__container {
  }
  .project__data {
    left: 2rem;
  }

  .swiper-btns {
    display: initial;
  }
  .projects-swiper {
    max-width: 1100px;
    overflow: visible;
  }
  .discover__description {
    max-width: 725px;
  }

  .how__container {
    padding-top: 5rem;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 5rem;
    width: 100%;
  }

  .how__info {
    width: 45%;
  }

  .how__images {
    width: 55%;
    img {
      height: 500px;
    }

    // img:nth-child(2),
    // img:nth-child(3) {
    //   display: block;
    // }
  }
  .who__container {
    h2 {
      max-width: 700px;
    }
    .who-group {
      max-width: 800px;
    }
    li {
      font-size: 18px;
      margin: 0.35rem;
    }
    p {
      font-size: 16px;
    }
    p a {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
  .projects-swiper {
    max-width: 1220px;
    // overflow: visible;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }

  .benefits__section {
    display: flex;
    align-items: center;
    // max-width: 1300px;
  }
  .benefits__group {
    display: flex;
    justify-content: space-between;
  }

  // .benefits__container {
  //   align-items: center;
  //   justify-content: center;
  // }
  .benefits__info {
    // align-items: center;
    width: 1300px;
  }

  .projects-swiper {
    max-width: 1340px;
    // overflow: visible;
  }
}

@media screen and (max-width: 412px) {
  .home__buttons a {
    font-size: 14px;
  }
  .home__buttons {
    font-size: 14px;
  }
}
@media screen and (max-width: 370px) {
  .home__buttons a {
    font-size: 10px;
  }
  .home__buttons .work__btn a {
    font-size: 13px;
  }
}
