//  Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

//  Variables

// :root {
$header-height: 3.5rem;

//  Colors
// $first-color: hsl(204, 100%, 68%);
// $first-color: rgb(253, 167, 55);
// $first-color: rgb(245, 159, 79);
$first-color: rgb(245, 104, 79);
$first-color-alt: rgb(230, 79, 52);
$first-color-bg: rgb(255, 246, 245);

// $first-color: rgb(245, 118, 79);

/* $button-color: #4c8ffb; */
/* $button-color: hsl(204, 100%, 52%); */
$button-color: hsl(204, 79%, 46%);
$button-color-alt: hsl(204, 100%, 34%);
/* $button-color: hsl(0, 0%, 17%); */
/* $button-color-alt: hsl(0, 0%, 21%); */
$nav-color: hsl(0, 0%, 15%);
$home-title-color: hsl(0, 0%, 100%);
$home-text-color: hsl(0, 0%, 83%);
$title-color: hsl(0, 0%, 15%);
$text-color: hsl(0, 0%, 35%);
$text-color-light: hsl(0, 0%, 55%);
$body-color: hsl(0, 0%, 99%);
$container-color: #fff;
$border-color: hsl(0, 0%, 94%);

//  Font and Typography

$body-font: 'Urbanist', sans-serif;
$large-font-size: 1.75rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

//  Font Weight

$font-medium: 500;
$font-bold: 700;

//  Margins

$mg-0-5: 0.5rem;
$mg-0-75: 0.75rem;
$mg-1: 1rem;
$mg-1-5: 1.5rem;
$mg-2: 2rem;
$mg-2-5: 2.5rem;
$mg-3: 3rem;

//  Z-Index

$z-tooltip: 10;
$z-fixed: 100;
// }

@media screen and (min-width: 968px) {
  // :root {
  $large-font-size: 2.5rem;
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
  $smaller-font-size: 0.813rem;
  // }
}

//  Base Styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: $body-font;
  font-size: $normal-font-size;
}

body {
  margin: 0 0 4rem 0;
  background-color: $body-color;
  color: $text-color;
  /*For animation dark mode*/
  transition: 0.4s;
}

h1,
h2,
h3,
h4 {
  color: $title-color;
  font-weight: $font-bold;
  letter-spacing: 0.4px;
}

p,
span,
button {
  letter-spacing: 0.5px;
}

p {
  line-height: 1.2rem;
  // font-weight: $font-medium;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

//  Utilities
.container {
  max-width: 1024px;
  margin-left: $mg-1-5;
  margin-right: $mg-1-5;
}

.grid {
  display: grid;
}

.title {
  margin-top: $mg-0-5;
  margin-bottom: $mg-1;
}

.subtitle {
  margin-bottom: $mg-1;
}

.main {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  padding: 1rem 0 0;
}

.section__title {
  font-weight: $font-bold;
}

.button {
  padding: 0.75rem 1.15rem;
  background-color: $first-color;
  border: 1px rgb(230, 79, 52) solid;
  color: #fff;
  font-weight: $font-bold;
  font-size: 0.875rem;
  border-radius: 2px;
  text-transform: uppercase;
  transition: 0.3s;
}

.button:hover {
  background-color: $first-color-alt;
}

//  Header / Nav ---------------------------------------------

.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  /*For animation dark mode*/
  /* transition: 0.4s; */
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 0 2rem;
}

.nav__logo,
.nav__toggle,
.nav__callBtn {
  color: $title-color;
}

.nav__callBtn {
  padding: 0.5rem;
  background: $button-color;
  border-radius: 3px;
}
.nav-color {
  color: $nav-color;
  transition: 0.3s;
}

.nav__close {
  color: $title-color;
}

.nav__logo,
.footer__logo {
  text-transform: uppercase;
  font-weight: $font-bold;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-size: 0.8rem;
}

.nav__logo-icon,
.footer__logo-icon {
  font-size: 1.5rem;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: $body-color;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 5rem 2rem 1.5rem;
    transition: 0.5s;
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}

.nav__link {
  color: $title-color;
  font-weight: $font-medium;
  /* text-transform: uppercase; */
  font-size: $h3-font-size;
  transition: 0.1s;
}

.nav__link:hover {
  color: $first-color;
}

.nav__link-small,
.nav__link-socials {
  color: $text-color-light;
}

.nav__link-small {
  font-size: $smaller-font-size;
}
/* 
.nav__link-socials {
  font-size: var($larger-font-size);
} */

.nav__item-info {
  margin-bottom: -0.75rem;
}

.last-link {
  border-bottom: 1px solid lightgray;
  padding: 0 0 1rem;
  width: 100%;
}

.nav__close {
  font-size: 1.75rem;
  position: absolute;
  top: 0.9rem;
  right: 1.25rem;
  cursor: pointer;
}

.open-menu {
  right: 0;
}

.change-header {
  background-color: $body-color;
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
  transition: 0.3s;
}

.contact__btn {
  background-color: $first-color;
  color: #fff;
  font-weight: $font-bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: 0.3s;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
}

.active-link {
  color: $button-color;
}

//  Home ------------------------------------------------

.home {
  margin-bottom: 3rem;
}
.home__container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-weight: $font-medium;
  }
}

.home__title {
  font-size: $h1-font-size;
  span {
    color: $first-color;
  }
}

.home__partners {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;

  p {
    font-size: $small-font-size;
    font-weight: $font-bold;
  }
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .home__partner {
      font-size: 3rem;
      display: flex;
      justify-content: center;
    }
  }
}

// .home__btn {
//   // border: 1px rgb(243, 92, 66) solid;
//   border: 1px rgb(245, 76, 47) solid;
// }

//  Image Grid ---------------------------------------------

.image__grid-container {
  img {
    width: 100%;
    padding: 0 1.5rem;
    object-fit: cover;
    aspect-ratio: 1/0.75;
    display: none;
  }
  img:nth-child(2) {
    display: none;
  }
  img:nth-child(3) {
    display: none;
  }
}

//  Testimonials ---------------------------------------------

.testimonials {
  // background-color: rgb(243, 243, 243);
  // padding: 0 2rem;
  margin-bottom: 2rem;
  // background-color: aqua;
}

.testimonial__card {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
.testimonial__icon {
  font-size: 2.75rem;
  color: $title-color;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.testimonial__name {
  font-size: $h3-font-size;
  font-weight: $font-medium;
  color: $title-color;
}

.testimonial__link {
  display: flex;
  align-items: center;
}

.testimonial__link a,
.testimonial__link i {
  color: $first-color;
}

.testimonial__profile-data {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  row-gap: 0.5rem;
}

.testimonial-swiper {
  margin-left: initial;
  margin-right: initial;
}

//  Benefits ---------------------------------------------
.benefits__description {
  margin-bottom: 2.25rem;
}

.benefit__title {
  margin-bottom: 0.5rem;
  span {
    color: $first-color;
  }
}

.benefits__item {
  margin-bottom: 1.5rem;
}

.benefits__img {
  margin-bottom: 1rem;
}

// .benefits-swiper {
//   // padding: 0 1.5rem;
//   margin: 0 1.5rem;
// }

// .benefits__card {
//   width: 100%;
//   // min-width: 250px;
//   // padding: 0 1.5rem;
// }

// .swiper-wrapper {
//   margin-bottom: $mg-1-5;
// }

// .swiper-scrollbar {
//   margin-right: 2rem;
//   // margin: 0 auto;
//   // padding: 0 1.5rem;
// }

// .steps__card img {
//   object-fit: cover;
//   height: 175px;
//   width: 100%;
// }

// .steps__data {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
//   margin-bottom: var(--mb-2);
// }

// .steps__description {
//   max-width: 375px;
// }

// .benefit__info {
//   margin-bottom: var(--mb-1-5);
// }

// .benefit__title {
//   margin-bottom: 0.25rem;
// }

// .steps__title {
//   font-weight: var(--font-bold);
// }

//  Connect With Us ---------------------------------------------

.connect__container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 1rem;
  // display: flex;
  div {
    margin-bottom: 1rem;
  }
  button {
    font-weight: $font-medium;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid lightgray;
    border-radius: 3px;
  }
  button:hover {
    background: rgb(248, 248, 248);
  }
}

//  Our Work ---------------------------------------------

.work__grid {
  display: grid;
  row-gap: 20px;
}

.work__info {
  margin-bottom: 2.25rem;
}

.img__block {
  position: relative;
  width: 100%;
  height: 400px;
  // aspect-ratio: 1/1;
  // background: rgb(223, 255, 223);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  img {
    // box-shadow: inset 0 20px 20px -20px #000000;
    // box-shadow: rgba(27, 82, 27, 0.37) 0px -10px 30px 5px;
    height: 250px;
    z-index: 50;
    border-radius: 10px 10px 0 0;
  }
}

.img__block-info {
  h3 {
    font-size: $large-font-size;
    margin-bottom: $mg-0-5;
  }
  p {
    font-weight: $font-bold;
  }
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
}

.img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  // background: radial-gradient(rgb(13, 56, 13), rgb(228, 103, 103));
  // background: linear-gradient(to top, rgb(27, 82, 27), rgba(27, 82, 27, 0.219));
  // background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
}

.img__block-1 {
  background: rgb(223, 255, 223);
  .img__block-title {
    // color: rgb(10, 87, 10);
    color: rgb(4, 65, 4);
  }
  .img__block-subtitle {
    color: rgba(10, 87, 10, 0.596);
  }
  img {
    box-shadow: rgba(27, 82, 27, 0.342) 0px -15px 35px 5px;
  }
}
.img__block-2 {
  background: rgb(243, 243, 243);
  .img__block-title {
    // color: rgb(10, 87, 10);
    color: $title-color;
  }
  .img__block-subtitle {
    color: $text-color;
  }
  img {
    box-shadow: rgba(0, 0, 0, 0.342) 0px -15px 35px 5px;
  }
}

//  Services ---------------------------------------------

.services {
  background: $first-color-bg;
  margin: 2.5rem 0;
  padding-bottom: 1.5rem;
}

.services__info {
  margin-bottom: 2.25rem;
}

.service__item {
  margin-bottom: $mg-1-5;
  li {
    font-weight: $font-medium;
    margin-bottom: 0.4rem;
  }
}

.testimonial__section {
  margin-bottom: $mg-3;
}

//  Footer ---------------------------------------------

footer {
  border-top: 1px solid lightgray;
}

.footer__logo,
.footer__logo-icon {
  color: $title-color;
}

.footer__logo {
  margin-bottom: $mg-1;
}

.footer__company {
  margin-bottom: $mg-3;
}

@media screen and (min-width: 576px) {
  .home {
    height: 100vh;
    margin-bottom: 0;
  }
  p {
    font-size: 16px;
    font-weight: $font-medium;
    // max-width: 500px;
  }

  .container {
    margin-left: $mg-1-5;
    margin-right: $mg-1-5;
  }

  .nav__menu {
    width: 60%;
  }

  .contact__btn {
    width: 200px;
    left: unset;
    right: 1.5rem;
    bottom: 1.5rem;
    border-radius: 3px;
  }
  .contact__btn:hover {
    background: $first-color-alt;
  }

  .home__partners {
    margin: 0 1.5rem;
    flex-direction: row;
    p {
      text-align: center;
      // flex: 1;
    }
  }

  .image__grid-container {
    display: flex;
    column-gap: 10px;
    img {
      padding: 0;
      max-width: 50%;
    }

    img:nth-child(2) {
      display: block;
    }
    img:nth-child(3) {
      display: block;
    }
  }

  .testimonials {
    margin-top: 3rem;
  }
  .benefits__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .benefits__img {
    margin-top: 2rem;
    max-height: 250px;
    object-fit: cover;
    display: none;
  }

  .benefits__subtitle {
    max-width: 450px;
  }
}

@media screen and (min-width: 678px) {
  .container {
    margin-left: $mg-2;
    margin-right: $mg-2;
  }
  .home__title {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
  }
}

@media screen and (min-width: 767px) {
}
